.promo
	width: 100%
	display: flex
	align-items: center
	justify-content: space-between
	flex-wrap: wrap
	+m(768)
		justify-content: space-around
	
	&__item
		width: (311/985)*100%
		+m(768)
			width: 50%

