.promo
	width: 100%
	display: flex
	align-items: center
	justify-content: space-between
	flex-wrap: wrap
	+m(768)
		justify-content: space-around
	
	&__item
		width: (311/985)*100%
		display: flex
		padding: 15px 
		border: 1px solid $c-icons
		+m(768)
			width: 50%

	&__item-img
		width: 75px
		height: 75px
		margin-right: 18px

	&__item-title
		font-size: 24px


	&__item-title--light
		font: 300 20px Segoe

	
